*{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.header{
    width: 100%;
    display: flex;
    height: 100px;
    background-color: #fff;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);}
.header img{
    margin:25px;
    margin-left: 40px;
    width: 50px;
}
.header nav{
    display: flex;
    align-items: center;
}
.header nav p{
    font-size: 18px;
    margin-top: -1px;
    margin-left: 23px;
    cursor: pointer;
}
.header nav p:hover{
    color: #1d5344;
}
.header form{
    display: flex;
    align-items: center;
    margin-left: 518px;
    font-size: 17px;
    cursor: pointer;
}
.header form p:hover{
    color: #215a2f;
}
.header form p{
    margin-top: -2px;
    margin-left: -30px;
}
.header form img{
    transform: scale(0.6);
    height: 35px;
}
.header .signin{
    margin-left: 56px;
    font-size: 15px;
    width: 79px;
    height: 35px;
    border: 1px solid;
    border-radius: 19px;
    background-color: transparent;
    cursor: pointer;
}
.header .signin:hover{
    background-color: rgb(207, 206, 206);
}
.header .joinnow{
    margin-left: 15px;
    border: 1px solid;
    font-size: 15px;
    border-radius: 19px;
    height: 35px;
    width: 99px;
    color: white;
    background-color: black;
    cursor: pointer;
}
.header .joinnow:hover{
    background-color: rgb(58, 58, 58);
}
.divider{
    width: 100%;
    height: 32px;
    background-color: #fff;
}
.feature1{
    display: flex;
    width: 100%;
    height: 586px;
    background-color: #eb81a5;
}
.feature1 .content {
    width: 50%;
    font-size: 28px;
    margin-top: 8%;
    text-align: center;
    color: #1e3932;;
}
.feature1 img{
    position: absolute;
    width: 50%;
    margin-left: 50%;
}
.feature1 .content button{
    background-color: transparent;
    height: 33px;
    color: #1e3932;
    border: 1px solid;
    margin-top: 50px;
    font-size: large;
    width: 120px;
    border-radius: 17px;
    cursor: pointer;
}
.feature1 .content button:hover{
    background-color: #d47998;
}
.feature2 .content2{
    width :50%;
    margin-top: 5%;
    margin-left: 12%;
    font-size:14px;
}
.feature2 .content2 p{
    font-size: 22px;
    margin-top: 20px;
    margin-left: -70px;
}
.feature2 .content2 button{
    margin-left: 95px;
    margin-top: 20px;
    font-size: 20px;
    width: 110px;
    height: 40px;
    border: 1px solid;
    border-radius: 20px;
    background-color: transparent;
    cursor: pointer;
}
.feature2 .content2 button:hover{
    background-color: #bbccc6;
}
.feature2{
    background-color: #d4e9e2;
    display: flex;
    height: 262px;
}
.feature2 img{
    width: 50%;
    
}
.feature3{
    background-color: #8f8bf4;
    height: 586px;
    display: flex;
}

.feature3 img{
    width: 50%;
    margin-left: 50%;
    position: absolute;
}
.feature3 .content3{
    text-align: center;
    font-size: 28px;
    margin-left: 10.5%;
    margin-top: 9.4%;
}
.feature3 .content3 button{
    margin-left: -115px;
    margin-top: 30px;
    height: 35px;
    width: 110px;
    font-size: 18px;
    margin-right: -90px;
    border: 1px solid;
    border-radius: 20px;
    background-color: transparent;
    cursor: pointer;
}
.content3 button:hover{
    background-color: #7470e6;
}
.feature4{
    background-color: #f1ff67;
    height: 586px;
    display: flex;
}
.feature4 img{
    width: 50%;
}
.feature4 .content4{
    text-align: center;
    font-size: 29px;
    margin-top: 12.9%;
    margin-left: 7.7%;
}
.feature4 .content4 p{
    margin-top: 20px;
}
.feature4 .content4 button{
    margin-top: 30px;
    margin-left: 20px;
    font-size: 20px;
    width: 120px;
    height: 38px;
    border: 1px solid;
    border-radius: 20px;
    background-color: transparent;
    cursor: pointer;
}
.feature4 .content4 button:hover{
    background-color: #cedb5a;;
}
.divider2{
    width: 100%;
    height: 120px;
    background-color: #fff;
    border-bottom: 2px solid rgb(223, 222, 222);
}
.divider2 p{
    text-align: center;
    padding: 45px;
}
.footer{
    width: 100%;
    height: 445px;
    background-color: #fff;
    display: flex;
}
.footer .foot1 li,p{
    list-style: none;
    margin-left: 45px;
    margin-top: 25px;
}
.footer .foot1 p{
    font-size: 20px;
    color: rgb(87, 86, 86);
}
.footer .foot1 li{
    cursor: pointer;
    font-size: 18px;
    color: rgb(105, 105, 105);
}
.footer .foot1 li:hover{
    text-decoration: underline;
}
.line{
    padding-left: 35px;
    width: 95%;
}
.foot2{
    height: 200px;
}
.foot2 .img{
    margin: 24px;
}
.foot2 .img img{
    transform: scale(0.6);
    cursor: pointer;
}
.foot2 .img img:hover{
    background-color: #8e9190;

}
.foot2 .end ul{
    list-style: none;
    display: flex;
    
}
.foot2 .end ul li{
    cursor: pointer;
    padding-left: 30px;
}
.foot2 .end ul li:hover{
    text-decoration: underline;
}
.p{
    color: #8e9190;
}